{% extends 'lists/base.html' %}
{% load staticfiles %}
{% block title %}To-Do - Home{% endblock %}


{% block row_1 %}
    <div class="text-center">
        <div class="lists-heading">Start a New List</div>
    </div>
{% endblock %}
{% block row_2 %}
    <div class="text-center">
        <form method="post" action="/src/lists/new">
        <input name="item_text" id="id_new_item" placeholder="Enter a to-do item" class="form-control input-lg"/>
        {%  csrf_token %}
        </form>
    </div>
{% endblock %}
