{% extends 'lists/base.html' %}
{% load staticfiles %}
{% block title %}To-Do - List{% endblock %}

{% block row_1 %}
<div class="text-center">
    <div class="lists-heading">Your To-Do List</div>
</div>
{% endblock %}
{% block row_2 %}
<div class="text-center">
    <form method="post" action="/lists/{{ list.id }}/add_item">
        <input name="item_text" id="id_new_item" class="form-control input-lg" placeholder="Enter a to-do item"/>
        {%  csrf_token %}
    </form>
    {% for item in list.item_set.all %}
        <div id="id_item_row_{{ forloop.counter }}" class="lists-item">
            {{ forloop.counter }}: {{ item.text }}
        </div>
    {% endfor %}
</div>
{% endblock %}
