{% extends 'lists/base.html' %}
{% load staticfiles %}
{% block title %}To-Do - List{% endblock %}

{% block row_1 %}
<div class="text-center">
    <div class="lists-heading">Your To-Do List</div>
</div>
{% endblock %}
{% block row_2 %}
<div class="text-center">
    <form method="post" action="{% url 'lists:view_list' list.id %}">
    {% include 'lists/list_form_input.html' %}
    </form>
    {% for item in list.item_set.all %}
        <div id="id_item_row_{{ forloop.counter }}" class="lists-item">
            {{ forloop.counter }}: {{ item.text }}
        </div>
    {% endfor %}
</div>
{% endblock %}
